<div class="container">
    <div class="title">
        --Contacto-- 
    </div>
    <mat-divider></mat-divider>
    <div class="form">
        <form class="form-data" [formGroup]="contatForm" (ngSubmit)="onSubmit()"> 
            <table class="input-container">
                <tr>
                    <td>
                        <mat-form-field class="input-container">
                            <mat-label>Nombre</mat-label>
                            <input matInput type="text" formControlName="name">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-container">
                            <mat-label>Apellido</mat-label>
                            <input matInput type="text" formControlName="lastname">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <mat-form-field class="input-container">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput type="email"  [errorStateMatcher]="matcher" formControlName="email" >
                @if(contatForm.controls.email.errors?.['email']){
                    <mat-error>Por favor ingresa un correo electrónico valido</mat-error>
                }

                @if (contatForm.controls.email.errors?.['required']) {
                    <mat-error>Correo Electrónico <strong> Requerido</strong></mat-error>
                }
            </mat-form-field><br>
            <mat-form-field class="input-container">
                <mat-label>Mensaje</mat-label>
                <textarea matInput formControlName="message" type="text"></textarea>
            </mat-form-field>
            <button mat-raised-button class="submit" [disabled]="!contatForm.valid">Enviar</button>
        </form>
    </div>
</div> 
