<div class="container">
    <div class="title">
        --Contacto-- 
    </div>
    <mat-divider></mat-divider>
    <div class="form">
        <form class="form-data">
            <table class="input-container">
                <tr>
                    <td>
                        <mat-form-field class="input-container">
                            <mat-label>Nombre</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-container">
                            <mat-label>Apellido</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <mat-form-field class="input-container">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput type="email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                <mat-hint>correo electrónico Valido</mat-hint>
                @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')){
                    <mat-error>Por favor ingresa un correo electrónico valido</mat-error>
                }
                @if (emailFormControl.hasError('required')) {
                    <mat-error>Correo Electrónico <strong> Requerido</strong></mat-error>
                }
            </mat-form-field><br>
            <mat-form-field class="input-container">
                <mat-label>Mensaje</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </form>
        <button mat-raised-button class="submit">Enviar</button>
    </div>
</div> 
