<mat-toolbar>
    <span>RCEE-Developer</span> 
    <span class="spacer"></span>
    <button mat-mini-fab class="menu-icon" aria-label="menu icon" [cdkMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <ng-template #menu>
      <div class="panel-menu" cdkMenu xPosition="after">
        <a class="item-menu" cdkMenuItem href="#home">Inicio</a>
        <a class="item-menu" cdkMenuItem href="#experience">Experiencia</a>
        <a class="item-menu" cdkMenuItem href="#proyectos">Proyectos</a>
        <a class="item-menu" cdkMenuItem href="#skils">Habilidades</a>
        <a class="item-menu" cdkMenuItem href="#learning">Aprendizaje</a>
        <a class="item-menu" cdkMenuItem href="#contact">Contactame</a>
      </div>
    </ng-template>
</mat-toolbar>

