@use '@angular/material' as mat;

mat-toolbar{
    height: 10%;
    width: 100%;
    background-color: var(--mat-sys-tertiary);
    color: var(--mat-sys-on-tertiary);
    font-family: "Bytesized", sans-serif;
    font-size: x-large;
    position: fixed;
    top: -1%;
    z-index: 2;
    padding: 0 16% ;
} 
.menu-icon{
    background-color: var(--mat-sys-tertiary);
}

.mat-mdc-button-base {
    margin: 8px 8px 8px 0;
} 
.panel-menu{
    display: inline-flex;
    flex-direction: column;
    min-width: 50%;
    max-width: 90%;
    padding: 4px;
    background-color: var(--mat-sys-on-tertiary-fixed);
    margin-top: 10px;
    font-family: "Roboto";
    border-radius: 10px;
}
.item-menu{
    font-size: medium;
    background-color: var(--mat-sys-on-tertiary-fixed);
    padding: 10px; 
    height: 60%;
    margin: 2px;
    border-radius: 10px;
    border: 0;
    color: var(--mat-sys-on-secondary);
    text-align: center;
    text-decoration: none;
}
.item-menu:active {
    background-color: var(--mat-sys-tertiary);
}
.item-menu:hover {
    background-color: var(--mat-sys-secondary-container);
    color: var(--mat-sys-on-secondary-container);
}
.spacer{
    flex: 1 1 auto;
}