<div class="container">
    <div class="title">
        --Educación-- 
    </div>
    <mat-divider></mat-divider>
    <div class="learns">
        @for (info of learn; track info){
            <mat-card class="card-education">
                <mat-card-header>
                    <mat-card-title>
                        {{info.titulo}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{info.institucion}}
                    </mat-card-subtitle>
                </mat-card-header> 
                <mat-card-actions>
                    <button mat-fab extended class="btn-date">
                        {{info.anios}}
                    </button>
                </mat-card-actions>
            </mat-card>
        }
    </div>
</div> 
