<div class="container">
    <img mat-card-xl-image src="../../../assets/perfil.jpg" alt="Foto perfil" class="perfil">
    <div class="card-perfil">
        <div class="content">
            Hola soy Erick Ruiz,<br><br>
            Soy Desarrollador Junior<br><br>
            Gran apacionado por el desarrollo de aplicaciones web y 
            aplicaciones moviles, en especial en el desarrollo backend,
            gran capacidad de adaptación y aprendizaje a diversos 
            entornos de trabajo.
        </div>

        <div class="button-row">
            <a mat-mini-fab class="btnsocialN" href="https://wa.me/593963113677">
                <mat-icon svgIcon="whatsapp"></mat-icon>
            </a>
            <a mat-mini-fab class="btnsocialN" href="https://www.linkedin.com/in/rcee0234134">
                <mat-icon svgIcon="linkedin"></mat-icon>
            </a> 
            <a mat-mini-fab class="btnsocialN" href="https://github.com/Ruizerick26" target="_blank">
                <img src="../../../assets/github.png" width="55%" class="imageN">
            </a>
            <a mat-mini-fab class="btnsocialN" href="https://drive.google.com/file/d/14ECurVXycPjGuElh1ELr6BTgheDYp8fE/view?usp=sharing">
                <mat-icon>file_open</mat-icon>
            </a>
        </div> 
    </div> 
</div>

<!-- Experiencia-->
<app-experience/>

<!-- Proyectos-->
<app-proyects/>

<!--Habilidades-->
<app-skills/>

<!--Aprendizaje-->
<app-learning/>

<!--Contacto-->
<app-contact/>


<!-- Footer -->
 <app-footer/>
