<div class="container">
    <div class="title"> 
        -- PROYECTOS --
    </div>
    <mat-divider></mat-divider>
    <div class="proyectos">
        @for (info of proyectos; track info ) {
                <mat-card class="card-proy">
                <mat-card-header>
                    <div mat-card-avatar class="avatar" style="background-image: url({{info.avatar}});"></div>
                    <mat-card-title>
                        {{info.nombre}} 
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{info.imagen}}" alt="website" class="image-card">
                <mat-card-content class="content"> 
                    <p>
                        {{info.descripcion}} <br><br> 
                    </p>

                    @if(info.colaboradores.length){
                        <p>
                            COLABORADORES:
                        </p>
                        <ul>
                            @for(colab of info.colaboradores; track colab){
                                <li>
                                    {{colab}}
                                </li>
                            }
                        </ul>
                    }
                </mat-card-content>
                <mat-card-actions>
                    @for(btn of info.detalles; track btn){
                        <a mat-fab extended href={{btn.url}} class="btn-enlace">{{btn.titulo}}</a>
                    }
                </mat-card-actions>
            </mat-card>
            }
    </div>
</div>
