@use '@angular/material' as mat;

.container{
    width: 75%;
    height: max-content;
    margin: 5%;
    margin-left: 13%;
    padding: 1%;
    border-radius: 4%;
    color: var(--mat-sys-on-tertiary-fixed);
}
.container-experience{
    margin: 1%;
    width: 35%;
}

.title{
    height: max-content;
    width: max-content;
    margin: 1%;
    margin-left: 35%;
    font-family: "Big Shoulders Stencil", sans-serif;
    font-size: xx-large; 
}
mat-expansion-panel{
    background-color: var(--mat-sys-tertiary);
    color: var(--mat-sys-on-tertiary);
    margin: 2%;
    padding: 1%;
}
mat-panel-description{
    color: var(--mat-sys-on-tertiary);
}
.divider{
    border-top-color: var(--mat-sys-on-tertiary) ;
}