<div class="container">
    <div class="title">
        -- EXPERIENCIA LABORAL --
    </div>
    <mat-accordion class="container-experience" multi>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>Pasante constatador de vienes</mat-panel-title>
                <mat-panel-description>
                    Enero 2024 - Febrero 2024 
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Pansante</p>
            <p>Pansante</p>
            <p>Pansante</p>
            <p>Pansante</p>
            <p>Pansante</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-panel-title>Pasante constatador de vienes</mat-panel-title>
            <mat-panel-description>
                Enero 2024 - Febrero 2024 
            </mat-panel-description>
        </mat-expansion-panel>
        
    </mat-accordion>   
</div>
