<div class="container">
    <div class="title">
        -- EXPERIENCIA LABORAL --
    </div>
    <mat-divider></mat-divider>
    <div class="container-experience">
        <mat-accordion>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        Pasante Constatador de Bienes <br>
                        Enero 2024 | Febrero 2024
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-divider class="divider"></mat-divider>
                <p>Ayudante de constatación de Bienes y manejo de base de datos en el área 
                    de dirección de bienes de la Escuela Politécnica Nacional</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
